{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="hero">
      <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="{% static 'assets/img/hero/hero-1.jpg' %}"></div>
        <div class="hero__items set-bg" data-setbg="{% static 'assets/img/hero/hero-2.jpg' %}"></div>
      </div>
    </div>

    <section class="about spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="about__text">
              <div class="section-title">
                <span>Be Bold</span>
                <h2>be the center of attention.</h2>
              </div>
              <p>
                Discover the perfect blend of creativity, craftmanship, and individuality with our custom clothing services. For that unique piece that expresses your personal style, we bring your vision to life with precision and passion.
              </p>
              <a href="#" class="primary-btn">Contact us</a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="about__pic">
              <img src="{% static 'assets/img/about/about-pic.png' %}" alt />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="services set-bg spad">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <div class="section-title">
              <span>Featured</span>
              <h2>Made to specification</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="services__item">
              <div class="services__item__pic">
                <img src="{% static 'assets/img/services/services-1.jpg' %}" alt />
              </div>
              <div class="services__item__text">
                <h5>Pullover Hoodie</h5>
                <span>From $20.0</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="services__item services__item__top">
              <div class="services__item__text">
                <h5>Graphic Hoodie</h5>
                <span>From $50.0</span>
              </div>
              <div class="services__item__pic">
                <img src="{% static 'assets/img/services/services-2.jpg' %}" alt />
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="services__item">
              <div class="services__item__pic">
                <img src="{% static 'assets/img/services/services-3.jpg' %}" alt />
              </div>
              <div class="services__item__text">
                <h5>Zip-Up Hoodie</h5>
                <span>From $30.0</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="services__item services__item__top">
              <div class="services__item__text">
                <h5>Athletic Hoodie</h5>
                <span>From $70.0</span>
              </div>
              <div class="services__item__pic">
                <img src="{% static 'assets/img/services/services-4.jpg' %}" alt />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="testimonial spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="testimonial__slider owl-carousel">
              <div class="testimonial__item">
                <div class="testimonial__item__icon">
                  <img src="{% static 'assets/img/testimonial/quote-icon.png' %}" alt />
                </div>
                <div class="testimonial__author">
                  <div class="testimonial__author__pic">
                    <img src="{% static 'assets/img/testimonial/ta-1.png' %}" alt />
                  </div>
                  <div class="testimonial__author__text">
                    <h5>Danielle Benton</h5>
                    <span>Blogger/Client</span>
                  </div>
                </div>
                <p>
                  Rachel you are so amazing at what you do! Thank you so much
                  for everything! I felt so beautiful on our wedding day. Not
                  only are you superwoman with a makeup brush, you are so lovely
                  and such a delight to have around the morning of the wedding!!
                  Any bride would be very lucky to have you part of her big day,
                  I am very grateful that you were part of mine
                </p>
              </div>
              <div class="testimonial__item">
                <div class="testimonial__item__icon">
                  <img src="{% static 'assets/img/testimonial/quote-icon.png' %}" alt />
                </div>
                <div class="testimonial__author">
                  <div class="testimonial__author__pic">
                    <img src="{% static 'assets/img/testimonial/ta-1.png' %}" alt />
                  </div>
                  <div class="testimonial__author__text">
                    <h5>Dani Alves</h5>
                    <span>Blogger/Client</span>
                  </div>
                </div>
                <p>
                  Rachel you are so amazing at what you do! Thank you so much
                  for everything! I felt so beautiful on our wedding day. Not
                  only are you superwoman with a makeup brush, you are so lovely
                  and such a delight to have around the morning of the wedding!!
                  Any bride would be very lucky to have you part of her big day,
                  I am very grateful that you were part of mine
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="work">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div
                  class="work__item large__item set-bg"
                  data-setbg="{% static 'assets/img/work/work-1.jpg' %}"
                >
                  <div class="work__item__text">
                    <span>Latest projects</span>
                    <h6>Brown hair wave</h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="work__item set-bg" data-setbg="{% static 'assets/img/work/work-2.jpg' %}">
                  <div class="work__item__text">
                    <span>Latest projects</span>
                    <h6>Brown hair wave</h6>
                  </div>
                </div>
                <div class="work__item set-bg" data-setbg="{% static 'assets/img/work/work-3.jpg' %}">
                  <div class="work__item__text">
                    <span>Latest projects</span>
                    <h6>Brown hair wave</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div
              class="work__item large__item set-bg"
              data-setbg="{% static 'assets/img/work/work-4.jpg' %}"
            >
              <div class="work__item__text">
                <span>Latest projects</span>
                <h6>Brown hair wave</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="work__item set-bg" data-setbg="{% static 'assets/img/work/work-5.jpg' %}">
                  <div class="work__item__text">
                    <span>Latest projects</span>
                    <h6>Brown hair wave</h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="work__item set-bg" data-setbg="{% static 'assets/img/work/work-6.jpg' %}">
                  <div class="work__item__text">
                    <span>Latest projects</span>
                    <h6>Brown hair wave</h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="work__item set-bg" data-setbg="{% static 'assets/img/work/work-7.jpg' %}">
                  <div class="work__item__text">
                    <span>Latest projects</span>
                    <h6>Brown hair wave</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="latest-blog spad">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <div class="section-title">
              <span>Our Process</span>
              <h2>Expert Craft</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="blog__item">
              <div class="blog__item__pic">
                <img src="{% static 'assets/img/blog/blog-1.jpg' %}" alt />
              </div>
              <div class="blog__item__text">
                <a href="#" class="blog__item__cat"
                  ><i class="fa fa-picture-o"></i
                ></a>
                <h4>
                  <a href="#">Tips From Makeup Artists You’ve Never Heard</a>
                </h4>
                <ul>
                  <li><span>Rosie Chapman</span></li>
                  <li>Jun 15, 2020</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog__item">
              <div class="blog__item__pic">
                <img src="{% static 'assets/img/blog/blog-2.jpg' %}" alt />
              </div>
              <div class="blog__item__text">
                <a href="#" class="blog__item__cat"
                  ><i class="fa fa-file-text-o"></i
                ></a>
                <h4>
                  <a href="#"
                    >Everything I Learned From A Professional Makeup Artist</a
                  >
                </h4>
                <ul>
                  <li><span>Rosie Chapman</span></li>
                  <li>Jun 15, 2020</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="blog__item">
              <div class="blog__item__pic">
                <img src="{% static 'assets/img/blog/blog-3.jpg' %}" alt />
              </div>
              <div class="blog__item__text">
                <a
                  href="https://www.youtube.com/watch?v=Pkh8UtuejGw"
                  class="blog__item__cat video-popup"
                  ><i class="fa fa-play"></i
                ></a>
                <h4>
                  <a href="#"
                    >10 Makeup-Artist Tips That Surprised (and Delighted) Us</a
                  >
                </h4>
                <ul>
                  <li><span>Rosie Chapman</span></li>
                  <li>Jun 15, 2020</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="beauty-products spad">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <div class="section-title">
              <span>Our Products</span>
              <h2>Custom Designs</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="product__slider owl-carousel">
            <div class="col-lg-3">
              <div class="product__item">
                <div
                  class="product__item__pic set-bg"
                  data-setbg="{% static 'assets/img/product/product-1.jpg' %}"
                >
                  <div class="product__item__hover">
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-shopping-bag"></i></a>
                        <span>Add to Cart</span>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-eye"></i></a>
                        <span>Keep an eye</span>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <span>Love this</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product__item__text">
                  <span>Palettes</span>
                  <h6><a href="#">Leather shopper bag</a></h6>
                  <div class="price">$49.00</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="product__item">
                <div
                  class="product__item__pic set-bg"
                  data-setbg="{% static 'assets/img/product/product-2.jpg' %}"
                >
                  <div class="product__item__hover">
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-shopping-bag"></i></a>
                        <span>Add to Cart</span>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-eye"></i></a>
                        <span>Keep an eye</span>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <span>Love this</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product__item__text">
                  <span>Palettes</span>
                  <h6><a href="#">Leather shopper bag</a></h6>
                  <div class="price">$49.00</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="product__item">
                <div
                  class="product__item__pic set-bg"
                  data-setbg="{% static 'assets/img/product/product-3.jpg' %}"
                >
                  <div class="product__item__hover">
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-shopping-bag"></i></a>
                        <span>Add to Cart</span>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-eye"></i></a>
                        <span>Keep an eye</span>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <span>Love this</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product__item__text">
                  <span>Palettes</span>
                  <h6><a href="#">Leather shopper bag</a></h6>
                  <div class="price">$49.00</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="product__item">
                <div
                  class="product__item__pic set-bg"
                  data-setbg="{% static 'assets/img/product/product-4.jpg' %}"
                >
                  <div class="product__item__hover">
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-shopping-bag"></i></a>
                        <span>Add to Cart</span>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-eye"></i></a>
                        <span>Keep an eye</span>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <span>Love this</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product__item__text">
                  <span>Palettes</span>
                  <h6><a href="#">Leather shopper bag</a></h6>
                  <div class="price">$49.00</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="product__item">
                <div
                  class="product__item__pic set-bg"
                  data-setbg="{% static 'assets/img/product/product-4.jpg' %}"
                >
                  <div class="product__item__hover">
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-shopping-bag"></i></a>
                        <span>Add to Cart</span>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-eye"></i></a>
                        <span>Keep an eye</span>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <span>Love this</span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="product__item__text">
                  <span>Palettes</span>
                  <h6><a href="#">Leather shopper bag</a></h6>
                  <div class="price">$49.00</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="more__btn"><a href="#">VIEW ALL PRODUCTS</a></div>
          </div>
        </div>
      </div>
    </section>

    <section class="callto">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 p-0">
            <div
              class="callto__left set-bg"
              data-setbg="{% static 'assets/img/callto-text-bg.jpg' %}"
            >
              <div class="callto__left__text">
                <span class="text-white">Order online and get</span>
                <h2>10% discount</h2>
              </div>
            </div>
          </div>
          <div class="col-lg-6 p-0">
            <div
              class="callto__form set-bg"
              data-setbg="{% static 'assets/img/callto-quote-bg.jpeg' %}"
            >
              <h3>Get a quote</h3>
              <form action="#">
                <div class="row">
                  <div class="col-lg-6">
                    <input type="text" placeholder="Name" />
                  </div>
                  <div class="col-lg-6">
                    <input type="text" placeholder="Number phone" />
                  </div>
                  <div class="col-lg-6">
                    <input type="text" placeholder="Email" />
                  </div>
                  <div class="col-lg-6">
                    <select>
                      <option value>Choose services</option>
                      <option value>Beauty</option>
                    </select>
                  </div>
                  <div class="col-lg-12">
                    <textarea placeholder="Your message"></textarea>
                    <button type="button" class="site-btn">
                      Book services
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}