<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Javiel Stores Website" />
    <meta name="keywords" content="custom-made, bespoke, hoodie, tracksuit, fashion, tailor, creative" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Javiel Stores | Creatively Bold</title>

      <!-- Favicons -->
    <link href="{% static 'assets/img/logo.jpg' %}" rel="icon">
    <link href="{% static 'assets/img/logo.jpg' %}" rel="apple-touch-icon">

    <link
      href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css" />
<!--    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" type="text/css" />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/elegant-icons.css' %}" type="text/css" />
<!--     <link rel="stylesheet" href="{% static 'assets/css/mattings.css' %}" type="text/css" />-->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css" />
  </head>
  <body>
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
<!--      <div class="offcanvas__search search-switch">-->
<!--        <img src="{% static 'assets/img/icon/search.png' %}" alt />-->
<!--      </div>-->
      <div class="offcanvas__logo text-center">
        <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.png' %}" alt /></a>
      </div>
      <div id="mobile-menu-wrap"></div>
<!--      <div class="offcanvas__widget">-->
<!--        <a href="#" class="primary-btn">Get a Quote</a>-->
<!--      </div>-->
    </div>

    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <div class="header__logo">
              <a href="{% url 'index' %}"><img src="{% static 'assets/img/logo.png' %}" alt /></a>
            </div>
          </div>
          <div class="col-lg-10">
            <div class="header__options">
              <nav class="header__menu mobile-menu">
                <ul>
                  <li class="{{ index }}"><a href="{% url 'index' %}">Home</a></li>
                  <li class="{{ about }}"><a href="{% url 'about' %}">About</a></li>
                  <li class="{{ services }}"><a href="{% url 'services' %}">Services</a></li>
                  <li class="{{ product }}"><a href="{% url 'product' %}">Shop</a></li>
                  <li>
                    <a href="#">Pages</a>
                    <ul class="dropdown">
                      <li><a href="{% url 'works' %}">works</a></li>
                      <li><a href="{% url 'cart' %}">Cart</a></li>
                      <li><a href="{% url 'checkout' %}">Checkout</a></li>
                      <li><a href="{% url 'wishlist' %}">wishlist</a></li>

                    </ul>
                  </li>
                  <li class="{{ blog }}"><a href="{% url 'blog' %}">Blog</a></li>
                  <li class="{{ contact }}"><a href="{% url 'contact' %}">Contact</a></li>
                  <a href="#" class="primary-btn text-center">Get a Quote</a>
                </ul>

              </nav>
<!--              <div class="header__option__right">-->
<!--                <div class="search__option search-switch">-->
<!--                  <img src="{% static 'assets/img/icon/search.png' %}" alt />-->
<!--                </div>-->

<!--              </div>-->
            </div>
          </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
      </div>
    </header>
{% block content %}

{% endblock %}

{% include 'footer.html' %}


    <div class="search-model">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Search here....." />
        </form>
      </div>
    </div>

    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

  </body>
</html>
