{% extends 'base.html' %} {% load static %} {% block content %}

<section class="blog-details">
  <div class="blog__datails__hero">
    <img src="{% static 'assets/img/blog/details/details-hero.jpg' %}" alt />
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8">
        <div class="blog__details__content">
          <div class="blog__item__cat"><i class="fa fa-file-text-o"></i></div>
          <div class="blog__details__title">
            <h2>
              {{ blog_post.title }}
            </h2>
            <ul>
              <li>{{ blog_post.author }}</li>
              <li>{{ blog_post.created_on }}</li>
              <li>128 Comments</li>
            </ul>
            <p>
              {{ blog_post.post }}
            </p>
          </div>
          <div class="blog__details__item">
            <h5>2. Get rid of redness with eye drops</h5>
            <p>
              Eye drops contain ingredients that constrict the blood vessels in
              your eyes, therefore making the redness go away. This same
              principle applies to pimples or other redness on the face as well.
              Just saturate a cotton swab with some Visine Original Eye Drops
              and dab it onto the specific area.
            </p>
          </div>
          <div class="blog__details__item">
            <h5>3. Brighten up skin with peach or apricot toned primers</h5>
            <p>
              Peach and apricot toned primers, such as Smashbox’s Photo Finish
              Color Correcting Foundation Primer in Apricot are fantastic for
              brightening up dull and tired skin, especially for those with
              darker complexions. The colored tint in the primer helps correct
              hyper-pigmentation and is also excellent for counteracting blue or
              purple-toned dark circles.
            </p>
          </div>
          <div class="blog__details__pic">
            {% if image %}
            <img
              src="{{ image.url }}"
              alt
            />
            {% else %}
            <img
              src="{% static 'assets/img/blog/details/blog-details.jpg' %}"
              alt
            />
            {% endif %}
          </div>
          <div class="blog__details__item">
            <h5>4. Powder in-between primer and foundation</h5>
            <p>
              One way to make sure your makeup lasts all day is to set your
              primer with a powder before applying foundation. It sounds odd
              (since we’ve always been told to never apply liquids on top of
              powders), but it actually works. Apply your regular face primer
              and dust a lightweight translucent powder over top.
            </p>
            <p>
              By doing this, you are locking it in, ensuring that the primer
              won’t slide around and disturb your foundation. But remember,
            </p>
          </div>
          <div class="blog__details__widget">
            <div class="row">
              <div class="col-lg-8">
                <div class="blog__details__widget__tag">
                  <span>Tag:</span>
                  <a href="#">Beauty</a>
                  <a href="#">Makeup</a>
                  <a href="#">Cosmetic</a>
                  <a href="#">Tips & Tricks</a>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="blog__details__widget__social">
                  <span>Share:</span>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="blog__details__btns">
            <div class="row">
              <div class="col-lg-5 col-md-6 col-sm-6">
                <div class="blog__details__btns__list">
                  <span>Previous</span>
                  <a href="#" class="blog__details__btns__item">
                    <div class="blog__details__btns__item__pic">
                      <img
                        src="{% static 'assets/img/blog/details/prev.jpg' %}"
                        alt
                      />
                    </div>
                    <div class="blog__details__btns__item__text">
                      <h6>Why now is a great time to fall for fresh</h6>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-lg-5 offset-lg-2 col-md-6 col-sm-6">
                <div
                  class="blog__details__btns__list blog__details__btns__list--next"
                >
                  <span>Up Next</span>
                  <a href="#" class="blog__details__btns__item">
                    <div class="blog__details__btns__item__pic">
                      <img
                        src="{% static 'assets/img/blog/details/next.jpg' %}"
                        alt
                      />
                    </div>
                    <div class="blog__details__btns__item__text">
                      <h6>Everything you need to know about cult conscious</h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="blog__details__comment">
            <h4>28 Comments</h4>
            <div class="blog__details__comment__item">
              <p>
                Congratulations Erin and Chris and your entire team! An
                achievement well-earned and much deserved! Thank you for
                advocating
              </p>
              <div class="blog__details__comment__author">
                <h5>Franklin Flower Farm</h5>
                <ul>
                  <li>on April 20th 2020</li>
                  <li><a href="#">Reply</a></li>
                </ul>
              </div>
            </div>
            <div class="blog__details__comment__item">
              <p>
                Congratulations Erin and Chris and your entire team! An
                achievement well-earned and much deserved! Thank you for
                advocating
              </p>
              <div class="blog__details__comment__author">
                <h5>Franklin Flower Farm</h5>
                <ul>
                  <li>on April 20th 2020</li>
                  <li><a href="#">Reply</a></li>
                </ul>
              </div>
            </div>
            <div class="blog__details__comment__item">
              <p>
                Congratulations Erin and Chris and your entire team! An
                achievement well-earned and much deserved! Thank you for
                advocating
              </p>
              <div class="blog__details__comment__author">
                <h5>Franklin Flower Farm</h5>
                <ul>
                  <li>on April 20th 2020</li>
                  <li><a href="#">Reply</a></li>
                </ul>
              </div>
            </div>
            <div class="show__all">
              <a href="#">Show all comment</a>
            </div>
          </div>
          <div class="blog__details__form">
            <h4>Leave a Comment</h4>
            <form action="#">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <input type="text" placeholder="Name" />
                </div>
                <div class="col-lg-6 col-md-6">
                  <input type="text" placeholder="Email" />
                </div>
                <div class="col-lg-12">
                  <textarea placeholder="Comment"></textarea>
                  <p>
                    For security, use of Google’s reCAPTCHA service is required
                    which is subject to the Google Privacy Policy and Terms of
                    Use. <span>I agree to these terms.</span>
                  </p>
                  <button type="submit" class="site-btn">Post comment</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
