{% extends 'base.html' %} {% load static %} {% block content %}

<div class="hero">
  <div class="hero__slider owl-carousel">
    <div
      class="hero__items set-bg"
      data-setbg="{% static 'assets/img/hero/hero-1.jpg' %}"
    ></div>
    <div
      class="hero__items set-bg"
      data-setbg="{% static 'assets/img/hero/hero-2.jpg' %}"
    ></div>
  </div>
</div>

<section class="about spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about__text">
          <div class="section-title">
            <span>Be Bold</span>
            <h2>be the center of attention.</h2>
          </div>
          <p>
            Discover the perfect blend of creativity, craftmanship, and
            individuality with our custom clothing services. For that unique
            piece that expresses your personal style, we bring your vision to
            life with precision and passion.
          </p>
          <a href="{% url 'contact' %}" class="primary-btn">Contact us</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about__pic">
          <img src="{% static 'assets/img/about/about-pic.png' %}" alt />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="services set-bg spad">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="section-title">
          <span>Featured</span>
          <h2>Made to specification</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for service in services %}
      <div class="col-lg-3 col-md-6">
        <div class="services__item">
          <div class="services__item__pic">
            {% if image %}
          <img src="{{ image.url }}" alt />
          {% else %}
            <img src="{% static 'assets/img/services/services-1.jpg' %}" alt />
            {% endif %}
          </div>
          <div class="services__item__text">
            <h5>{{ service.name }}</h5>
            <span>From ${{ service.price }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col-lg-3 col-md-6">
        <div class="services__item services__item__top">
          <div class="services__item__text">
            <h5>Graphic Hoodie</h5>
            <span>From $50.0</span>
          </div>
          <div class="services__item__pic">
            <img src="{% static 'assets/img/services/services-2.jpg' %}" alt />
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="services__item">
          <div class="services__item__pic">
            <img src="{% static 'assets/img/services/services-3.jpg' %}" alt />
          </div>
          <div class="services__item__text">
            <h5>Zip-Up Hoodie</h5>
            <span>From $30.0</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="services__item services__item__top">
          <div class="services__item__text">
            <h5>Athletic Hoodie</h5>
            <span>From $70.0</span>
          </div>
          <div class="services__item__pic">
            <img src="{% static 'assets/img/services/services-4.jpg' %}" alt />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'testimonial.html' %}

<div class="work">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          {% for project in projects %}
          <div class="col-lg-6 col-md-6">
            <div
                    {% if image %}
              class="work__item large__item set-bg"
              data-setbg="{{ image.url }}"
                    {% else %}
                    class="work__item large__item set-bg"
              data-setbg="{% static 'assets/img/work/work-1.jpg' %}"
                    {% endif %}
            >

              <div class="work__item__text">
                <span>{{ project.category }}</span>
                <h6>{{ project.name }}</h6>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="col-lg-6 col-md-6">
            <div
              class="work__item set-bg"
              data-setbg="{% static 'assets/img/work/work-2.jpg' %}"
            >
              <div class="work__item__text">
                <span>Latest projects</span>
                <h6>Pullover Hoodie</h6>
              </div>
            </div>
            <div
              class="work__item set-bg"
              data-setbg="{% static 'assets/img/work/work-3.jpg' %}"
            >
              <div class="work__item__text">
                <span>Latest projects</span>
                <h6>Ladies Hoodie</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="work__item large__item set-bg"
          data-setbg="{% static 'assets/img/work/work-4.jpg' %}"
        >
          <div class="work__item__text">
            <span>Latest projects</span>
            <h6>Bold Graphic Hoodie</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div
              class="work__item set-bg"
              data-setbg="{% static 'assets/img/work/work-5.jpg' %}"
            >
              <div class="work__item__text">
                <span>Latest projects</span>
                <h6>Graphic Print Hoodie</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div
              class="work__item set-bg"
              data-setbg="{% static 'assets/img/work/work-6.jpg' %}"
            >
              <div class="work__item__text">
                <span>Latest projects</span>
                <h6>Beaded Hoodie</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div
              class="work__item set-bg"
              data-setbg="{% static 'assets/img/work/work-7.jpg' %}"
            >
              <div class="work__item__text">
                <span>Latest projects</span>
                <h6>Custom Uniform</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="latest-blog spad">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="section-title">
          <span>Our Process</span>
          <h2>Expert Craft</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for blog in blogs %}
      <div class="col-lg-4 col-md-6">
        <div class="blog__item">
          <div class="blog__item__pic">
            {% if image %}
            <img src="{{ image.url }}" alt />
            {% else %}
            <img src="{% static 'assets/img/blog/blog-1.jpg' %}" alt />
            {% endif %}
          </div>
          <div class="blog__item__text">
            <a href="#" class="blog__item__cat"
              ><i class="fa fa-picture-o"></i
            ></a>
            <h4>
              <a href="{% url 'blog-detail' 1 %}"
                >{{ blog.title }}</a
              >
            </h4>
            <ul>
              <li><span>{{ blog.author }}</span></li>
              <li>{{ blog.created_on }}</li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col-lg-4 col-md-6">
        <div class="blog__item">
          <div class="blog__item__pic">
            <img src="{% static 'assets/img/blog/blog-2.jpg' %}" alt />
          </div>
          <div class="blog__item__text">
            <a href="#" class="blog__item__cat"
              ><i class="fa fa-file-text-o"></i
            ></a>
            <h4>
              <a href="{% url 'blog-detail' 1 %}"
                >Everything I Learned From A Professional Designer</a
              >
            </h4>
            <ul>
              <li><span>Rosie Chapman</span></li>
              <li>Jun 15, 2024</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="blog__item">
          <div class="blog__item__pic">
            <img src="{% static 'assets/img/blog/blog-3.jpg' %}" alt />
          </div>
          <div class="blog__item__text">
            <a
              href="https://www.youtube.com/watch?v=Pkh8UtuejGw"
              class="blog__item__cat video-popup"
              ><i class="fa fa-play"></i
            ></a>
            <h4>
              <a href="{% url 'blog-detail' 1 %}"
                >10 Design Tips That Surprised (and Delighted) Us</a
              >
            </h4>
            <ul>
              <li><span>Rosie Chapman</span></li>
              <li>Jun 20, 2024</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="beauty-products spad">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="section-title">
          <span>Our Products</span>
          <h2>Custom Designs</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="product__slider owl-carousel">
        {% for product in products %}
        <div class="col-lg-3">
          <div class="product__item">

            <div
                    {% if image %}
              class="product__item__pic set-bg"
              data-setbg="{{ image.url }}"
                    {% else %}
                    class="product__item__pic set-bg"
              data-setbg="{% static 'assets/img/product/product-1.jpg' %}"
                    {% endif %}
            >

              <div class="product__item__hover">
                <ul>
                  <li>
                    <a href="{% url 'cart' %}"><i class="fa fa-shopping-bag"></i></a>
                    <span>Add to Cart</span>
                  </li>
                  <li>
                    <a href="{% url 'wishlist' %}"><i class="fa fa-eye"></i></a>
                    <span>Keep an eye</span>
                  </li>
                  <li>
                    <a href="{% url 'wishlist' %}"><i class="fa fa-heart"></i></a>
                    <span>Love this</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product__item__text">
              <span>{{ product.category }}</span>
              <h6>
                <a href="{% url 'product-detail' 1 %}"
                  >{{ product.name }}</a
                >
              </h6>
              <div class="price">${{ product.price }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="col-lg-3">
          <div class="product__item">
            <div
              class="product__item__pic set-bg"
              data-setbg="{% static 'assets/img/product/product-2.jpg' %}"
            >
              <div class="product__item__hover">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-shopping-bag"></i></a>
                    <span>Add to Cart</span>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-eye"></i></a>
                    <span>Keep an eye</span>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                    <span>Love this</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product__item__text">
              <span>Hoodie</span>
              <h6>
                <a href="{% url 'product-detail' 1 %}">White Pullover Hoodie</a>
              </h6>
              <div class="price">$49.00</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="product__item">
            <div
              class="product__item__pic set-bg"
              data-setbg="{% static 'assets/img/product/product-3.jpg' %}"
            >
              <div class="product__item__hover">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-shopping-bag"></i></a>
                    <span>Add to Cart</span>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-eye"></i></a>
                    <span>Keep an eye</span>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                    <span>Love this</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product__item__text">
              <span>Hoodie</span>
              <h6>
                <a href="{% url 'product-detail' 1 %}">Cream Pullover Hoodie</a>
              </h6>
              <div class="price">$49.00</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="product__item">
            <div
              class="product__item__pic set-bg"
              data-setbg="{% static 'assets/img/product/product-4.jpg' %}"
            >
              <div class="product__item__hover">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-shopping-bag"></i></a>
                    <span>Add to Cart</span>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-eye"></i></a>
                    <span>Keep an eye</span>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                    <span>Love this</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product__item__text">
              <span>Hoodie</span>
              <h6>
                <a href="{% url 'product-detail' 1 %}"
                  >Turquoise Pullover Hoodie</a
                >
              </h6>
              <div class="price">$49.00</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="product__item">
            <div
              class="product__item__pic set-bg"
              data-setbg="{% static 'assets/img/product/product-5.jpg' %}"
            >
              <div class="product__item__hover">
                <ul>
                  <li>
                    <a href="#"><i class="fa fa-shopping-bag"></i></a>
                    <span>Add to Cart</span>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-eye"></i></a>
                    <span>Keep an eye</span>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-heart"></i></a>
                    <span>Love this</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product__item__text">
              <span>Hoodie</span>
              <h6>
                <a href="{% url 'product-detail' 1 %}">Red Pullover Hoodie</a>
              </h6>
              <div class="price">$49.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="more__btn">
          <a href="{% url 'product' %}">VIEW ALL PRODUCTS</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="callto">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div
          class="callto__left set-bg"
          data-setbg="{% static 'assets/img/callto-text-bg.jpg' %}"
        >
          <div class="callto__left__text">
            <span style="color: #ffffff">Order online and get</span>
            <h2>10% discount</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-6 p-0">
        <div
          class="callto__form set-bg"
          data-setbg="{% static 'assets/img/callto-quote-bg.jpeg' %}"
        >
          <h3>Get a quote</h3>
          <form action="#">
            <div class="row">
              <div class="col-lg-6">
                <input type="text" placeholder="Name" />
              </div>
              <div class="col-lg-6">
                <input type="text" placeholder="Number phone" />
              </div>
              <div class="col-lg-6">
                <input type="text" placeholder="Email" />
              </div>
              <div class="col-lg-6">
                <select>
                  <option value>Choose services</option>
                  <option value>Beauty</option>
                </select>
              </div>
              <div class="col-lg-12">
                <textarea placeholder="Your message"></textarea>
                <button type="button" class="site-btn">Book services</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
