{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="breadcrumb-option set-bg" data-setbg="{% static 'assets/img/breadcrumb/shop-breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h2>Shop</h2>
                    <div class="breadcrumb__links">
                        <a href="{% url 'index' %}">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="products spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="product__widget__show">
                    <p>Showing 1–9 of 14 results</p>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="product__widget__filter">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <select>
                                <option value>Categories</option>
                                <option value>Hoodie</option>
                                <option value>Jacket</option>
                                <option value>Tracksuit</option>
                                <option value>Male</option>
                                <option value>Female</option>
                                <option value>Unisex</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <select>
                                <option value>Filter by Price</option>
                                <option value>$25</option>
                                <option value>$50</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <select>
                                <option value>Sort by popularity</option>
                                <option value>1-10</option>
                                <option value>2-20</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div
                            {% if image %}
                            class="product__item__pic set-bg" data-setbg="{{ image.url }}"
                            {% else %}
                            class="product__item__pic set-bg" data-setbg="{% static 'assets/img/product/product-1.jpg' %}"
                            {% endif %}
                    >
                        <div class="product__item__hover">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i></a> <span>Add to Cart</span></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a> <span>Keep an eye</span></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a> <span>Love this</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <span>{{ product.category }}</span>
                        <h6><a href="{% url 'product-detail' product.id %}">{{ product.name }}</a></h6>
                        <div class="price">${{ product.price }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'assets/img/product/product-2.jpg' %}">
                        <div class="product__item__hover">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i></a> <span>Add to Cart</span></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a> <span>Keep an eye</span></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a> <span>Love this</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <span>Hoodies</span>
                        <h6><a href="#">White Hoodie</a></h6>
                        <div class="price">$49.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'assets/img/product/product-3.jpg' %}">
                        <div class="product__item__hover">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i></a> <span>Add to Cart</span></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a> <span>Keep an eye</span></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a> <span>Love this</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <span>Hoodies</span>
                        <h6><a href="#">Cream Coloured Hoodie</a></h6>
                        <div class="price">$49.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'assets/img/product/product-4.jpg' %}">
                        <div class="product__item__hover">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i></a> <span>Add to Cart</span></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a> <span>Keep an eye</span></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a> <span>Love this</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <span>Hoodies</span>
                        <h6><a href="#">Turquoise Coloured Hoodie</a></h6>
                        <div class="price">$49.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'assets/img/product/product-5.jpg' %}">
                        <div class="product__item__hover">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i></a> <span>Add to Cart</span></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a> <span>Keep an eye</span></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a> <span>Love this</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <span>Hoodies</span>
                        <h6><a href="#">Red Hoodie</a></h6>
                        <div class="price">$49.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'assets/img/product/product-6.jpg' %}">
                        <div class="product__item__hover">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i></a> <span>Add to Cart</span></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a> <span>Keep an eye</span></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a> <span>Love this</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <span>Hoodies</span>
                        <h6><a href="#">Orange Female Hoodie</a></h6>
                        <div class="price">$49.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'assets/img/product/product-7.jpg' %}">
                        <div class="product__item__hover">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i></a> <span>Add to Cart</span></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a> <span>Keep an eye</span></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a> <span>Love this</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <span>Hoodies</span>
                        <h6><a href="#">Grey Female Hoodie</a></h6>
                        <div class="price">$49.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'assets/img/product/product-8.jpg' %}">
                        <div class="product__item__hover">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i></a> <span>Add to Cart</span></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a> <span>Keep an eye</span></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a> <span>Love this</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <span>Jackets</span>
                        <h6><a href="#">Colourful Ankara Bomber Jackets</a></h6>
                        <div class="price">$49.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'assets/img/product/product-9.jpg' %}">
                        <div class="product__item__hover">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i></a> <span>Add to Cart</span></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a> <span>Keep an eye</span></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a> <span>Love this</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <span>Hoodies</span>
                        <h6><a href="#">Pale Green Female Hoodie</a></h6>
                        <div class="price">$49.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg"
                        data-setbg="{% static 'assets/img/product/product-10.jpg' %}">
                        <div class="product__item__hover">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i></a> <span>Add to Cart</span></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a> <span>Keep an eye</span></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a> <span>Love this</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <span>Hoodies</span>
                        <h6><a href="#">Green Hoodie</a></h6>
                        <div class="price">$49.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg"
                        data-setbg="{% static 'assets/img/product/product-11.jpg' %}">
                        <div class="product__item__hover">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i></a> <span>Add to Cart</span></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a> <span>Keep an eye</span></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a> <span>Love this</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <span>Hoodies</span>
                        <h6><a href="#">Orange Hoodie</a></h6>
                        <div class="price">$49.00</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg"
                        data-setbg="{% static 'assets/img/product/product-12.jpg' %}">
                        <div class="product__item__hover">
                            <ul>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i></a> <span>Add to Cart</span></li>
                                <li><a href="#"><i class="fa fa-eye"></i></a> <span>Keep an eye</span></li>
                                <li><a href="#"><i class="fa fa-heart"></i></a> <span>Love this</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__item__text">
                        <span>Hoodies</span>
                        <h6><a href="#">Sky Blue Hoodie</a></h6>
                        <div class="price">$49.00</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="more__btn"><a href="#">VIEW ALL PRODUCTS</a></div>
            </div>
        </div>
    </div>
</section>


{% endblock %}