{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="breadcrumb-option set-bg" data-setbg="{% static 'assets/img/breadcrumb/services-breadcrumb.jpg' %}">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="breadcrumb__text">
<h2>Services</h2>
<div class="breadcrumb__links">
<a href="{% url 'index' %}">Home</a>
<span>Services</span>
</div>
</div>
</div>
</div>
</div>
</div>


<section class="services-page spad">
<div class="container">
<div class="row">
<div class="col-lg-6 order-lg-1">
<div class="services__page__text">
<div class="price">From $20</div>
<h2>Pullover Hoodies</h2>
<p>Classic and simple, pullover hoodies are designed without zippers, offering a clean and cozy look. They often feature a large front pocket, also known as a kangaroo pocket, and a drawstring hood.</p>
<ul>
<li><span class="icon_check"></span> Lorem ipsum dolor sit amet</li>
<li><span class="icon_check"></span> Consectetur adipiscing elit</li>
<li><span class="icon_check"></span> Sed do eiusmod tempor incididunt</li>
</ul>
<a href="#" class="primary-btn">Get a Quote</a>
</div>
</div>
<div class="col-lg-6 order-lg-2">
<div class="services__page__pic">
<div class="services__page__pic__item">
<img src="{% static 'assets/img/services/sp-item-1.jpg' %}" alt>
</div>
<div class="services__page__pic__item small__item">
<img src="{% static 'assets/img/services/sp-item-2.jpg' %}" alt>
</div>
</div>
</div>
<div class="col-lg-6 order-lg-4">
<div class="services__page__text">
<div class="price">From $20</div>
<h2>Zip-Up Hoodies</h2>
<p>These hoodies come with a full-length zipper down the front, making them easy to wear and adjust. Zip-up hoodies are versatile and can be worn open or closed, providing flexibility in styling.</p>
<ul>
<li><span class="icon_check"></span> Lorem ipsum dolor sit amet</li>
<li><span class="icon_check"></span> Consectetur adipiscing elit</li>
<li><span class="icon_check"></span> Sed do eiusmod tempor incididunt</li>
</ul>
<a href="#" class="primary-btn">Get a Quote</a>
</div>
</div>
<div class="col-lg-6 order-lg-3">
<div class="services__page__pic">
<div class="services__page__pic__item small__item">
<img src="{% static 'assets/img/services/sp-item-3.jpg' %}" alt>
</div>
<div class="services__page__pic__item">
<img src="{% static 'assets/img/services/sp-item-4.jpg' %}" alt>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="callto">
<div class="container-fluid">
<div class="row">
<div class="col-lg-6 p-0">
<div class="callto__left set-bg" data-setbg="{% static 'assets/img/callto-text-bg.jpg' %}">
<div class="callto__left__text">
<span>Book online for</span>
<h2>20% discount</h2>
</div>
</div>
</div>
<div class="col-lg-6 p-0">
<div class="callto__form set-bg" data-setbg="{% static 'assets/img/callto-quote-bg.jpeg' %}">
<h3>Get a quote</h3>
<form action="#">
<div class="row">
<div class="col-lg-6 col-md-6">
<input type="text" placeholder="Name">
</div>
<div class="col-lg-6 col-md-6">
<input type="text" placeholder="Number phone">
</div>
<div class="col-lg-6 col-md-6">
<input type="text" placeholder="Email">
</div>
<div class="col-lg-6 col-md-6">
<select>
<option value>Choose services</option>
<option value>Hoodies</option>
    <option value>Custom-made Uniforms</option>
</select>
</div>
<div class="col-lg-12">
<textarea placeholder="Your message"></textarea>
<button type="button" class="site-btn">Book services</button>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</section>


<section class="services-page spad">
<div class="container">
<div class="row">
<div class="col-lg-6 order-lg-1">
<div class="services__page__text">
<div class="price">From $20</div>
<h2>Graphic Hoodies</h2>
<p>Characterized by bold designs, logos, or prints, graphic hoodies are a statement piece. They often feature eye-catching images, text, or artwork on the front, back, or sleeves, reflecting the wearer's personality or interests.</p>
<ul>
<li><span class="icon_check"></span> Lorem ipsum dolor sit amet</li>
<li><span class="icon_check"></span> Consectetur adipiscing elit</li>
<li><span class="icon_check"></span> Sed do eiusmod tempor incididunt</li>
</ul>
<a href="#" class="primary-btn">Get a Quote</a>
</div>
</div>
<div class="col-lg-6 order-lg-2">
<div class="services__page__pic">
<div class="services__page__pic__item">
<img src="{% static 'assets/img/services/sp-item-5.jpg' %}" alt>
</div>
<div class="services__page__pic__item small__item">
<img src="{% static 'assets/img/services/sp-item-6.jpg' %}" alt>
</div>
</div>
</div>
<div class="col-lg-6 order-lg-4">
<div class="services__page__text">
<div class="price">From $20</div>
<h2>Athletic Hoodies</h2>
<p>Designed for performance, athletic hoodies are made with moisture-wicking fabrics and often feature a more fitted silhouette. They’re perfect for sports, workouts, or any active lifestyle, combining comfort with functionality.</p>
<ul>
<li><span class="icon_check"></span> Lorem ipsum dolor sit amet</li>
<li><span class="icon_check"></span> Consectetur adipiscing elit</li>
<li><span class="icon_check"></span> Sed do eiusmod tempor incididunt</li>
</ul>
<a href="#" class="primary-btn">Get a Quote</a>
</div>
</div>
<div class="col-lg-6 order-lg-3">
<div class="services__page__pic">
<div class="services__page__pic__item small__item">
<img src="{% static 'assets/img/services/sp-item-7.jpg' %}" alt>
</div>
<div class="services__page__pic__item">
<img src="{% static 'assets/img/services/sp-item-8.jpg' %}" alt>
</div>
</div>
</div>
</div>
</div>
</section>


{% endblock %}