{% load static %}
<div class="testimonial spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="testimonial__slider owl-carousel">
          <div class="testimonial__item">
            <div class="testimonial__item__icon">
              <img
                src="{% static 'assets/img/testimonial/quote-icon.png' %}"
                alt
              />
            </div>
            <div class="testimonial__author">
              <div class="testimonial__author__pic">
                <img src="{% static 'assets/img/testimonial/ta-1.jpg' %}" alt />
              </div>
              <div class="testimonial__author__text">
                <h5>Emily S.</h5>
                <span>Exceeded My Expectations!</span>
              </div>
            </div>
            <p>
              I wanted a unique dress for a special event, and [Your Business
              Name] delivered beyond my expectations. The design process was
              smooth, and the final product was stunning. I received so many
              compliments!
            </p>
          </div>
          <div class="testimonial__item">
            <div class="testimonial__item__icon">
              <img
                src="{% static 'assets/img/testimonial/quote-icon.png' %}"
                alt
              />
            </div>
            <div class="testimonial__author">
              <div class="testimonial__author__pic">
                <img src="{% static 'assets/img/testimonial/ta-2.jpg' %}" alt />
              </div>
              <div class="testimonial__author__text">
                <h5>James R.</h5>
                <span>A Perfect Fit</span>
              </div>
            </div>
            <p>
              I had a suit made for my wedding, and it was absolutely perfect!
              The attention to detail was incredible, and the fit was spot on. I
              felt confident and comfortable all day. Highly recommend!
            </p>
          </div>
          <div class="testimonial__item">
            <div class="testimonial__item__icon">
              <img
                src="{% static 'assets/img/testimonial/quote-icon.png' %}"
                alt
              />
            </div>
            <div class="testimonial__author">
              <div class="testimonial__author__pic">
                <img src="{% static 'assets/img/testimonial/ta-3.jpg' %}" alt />
              </div>
              <div class="testimonial__author__text">
                <h5>Michael T.</h5>
                <span>Exceptional Quality and Service!</span>
              </div>
            </div>
            <p>
              From the moment I walked into the shop, I knew I was in good
              hands. The team really listened to what I wanted, and the finished
              product was better than I could have imagined. The craftsmanship
              is top-notch.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>