{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="breadcrumb-option set-bg" data-setbg="{% static 'assets/img/breadcrumb/works-breadcrumb.jpg' %}">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="breadcrumb__text">
<h2>Works</h2>
<div class="breadcrumb__links">
<a href="{% url 'index' %}">Home</a>
<span>Works</span>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="work spad">
<div class="container-fluid">
<div class="row">
<div class="col-lg-4">
<div class="row">
<div class="col-lg-6 col-md-6">
<div class="work__item large__item set-bg" data-setbg="{% static 'assets/img/work/work-1.jpg' %}">
<div class="work__item__text">
<span>Latest projects</span>
<h6>Brown hair wave</h6>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6">
<div class="work__item set-bg" data-setbg="{% static 'assets/img/work/work-2.jpg' %}">
<div class="work__item__text">
<span>Latest projects</span>
<h6>Brown hair wave</h6>
</div>
</div>
<div class="work__item set-bg" data-setbg="{% static 'assets/img/work/work-3.jpg' %}">
<div class="work__item__text">
<span>Latest projects</span>
<h6>Brown hair wave</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="work__item large__item set-bg" data-setbg="{% static 'assets/img/work/work-4.jpg' %}">
<div class="work__item__text">
<span>Latest projects</span>
<h6>Brown hair wave</h6>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="row">
<div class="col-lg-6 col-md-6">
<div class="work__item set-bg" data-setbg="{% static 'assets/img/work/work-5.jpg' %}">
<div class="work__item__text">
<span>Latest projects</span>
<h6>Brown hair wave</h6>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6">
<div class="work__item set-bg" data-setbg="{% static 'assets/img/work/work-6.jpg' %}">
<div class="work__item__text">
<span>Latest projects</span>
<h6>Brown hair wave</h6>
</div>
</div>
</div>
<div class="col-lg-12">
<div class="work__item set-bg" data-setbg="{% static 'assets/img/work/work-7.jpg' %}">
<div class="work__item__text">
<span>Latest projects</span>
<h6>Brown hair wave</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="work__item large__item set-bg" data-setbg="{% static 'assets/img/work/work-8.jpg' %}">
<div class="work__item__text">
<span>Latest projects</span>
<h6>Brown hair wave</h6>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="row">
<div class="col-lg-6 col-md-6">
<div class="work__item set-bg" data-setbg="{% static 'assets/img/work/work-9.jpg' %}">
<div class="work__item__text">
<span>Latest projects</span>
<h6>Brown hair wave</h6>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6">
<div class="work__item set-bg" data-setbg="{% static 'assets/img/work/work-10.jpg' %}">
<div class="work__item__text">
<span>Latest projects</span>
<h6>Brown hair wave</h6>
</div>
</div>
</div>
<div class="col-lg-12">
<div class="work__item set-bg" data-setbg="{% static 'assets/img/work/work-11.jpg' %}">
<div class="work__item__text">
<span>Latest projects</span>
<h6>Brown hair wave</h6>
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="row">
<div class="col-lg-6 col-md-6">
<div class="work__item large__item set-bg" data-setbg="{% static 'assets/img/work/work-12.jpg' %}">
<div class="work__item__text">
<span>Latest projects</span>
<h6>Brown hair wave</h6>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6">
<div class="work__item set-bg" data-setbg="{% static 'assets/img/work/work-13.jpg' %}">
<div class="work__item__text">
<span>Latest projects</span>
<h6>Brown hair wave</h6>
</div>
</div>
<div class="work__item set-bg" data-setbg="{% static 'assets/img/work/work-14.jpg' %}">
<div class="work__item__text">
<span>Latest projects</span>
<h6>Brown hair wave</h6>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12 text-center">
<div class="more__btn work__btn"><a href="#">View more Work</a></div>
</div>
</div>
</div>
</div>


{% endblock %}